.Summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    left: 50%; 
    transform: translate(-50%);
    position: relative;
    padding-left: 1%;
    padding-bottom: 1%;
    
    background-color: rgb(78, 78, 229);
}

.first {
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
    color: azure;
}
.abotme {
    width: 28%;
    background-color: azure;
    border: 2px solid rgb(221, 232, 232);
}
.headme {
    margin: 1%;
    width: 100%;
    
}
td {
    word-wrap: break-word; 
    overflow-wrap: break-word;
    padding: 1%;

}
#medate {
    background-color: rgb(221, 232, 232);
}
#cont {
    background-color: rgb(237, 245, 245);
}
#lan {
    background-color: rgb(244, 248, 248);
}

.infgy {
    width: 100%;
    font-size: small;
    color: gray;
}
.ex {
    padding: 2%;
    color: azure;
    background-color: rgb(30, 30, 229);
}
.tableExC {
    padding-top: 1%;
    padding-bottom: 1%;
}
.allinf {
    display: flex;
    overflow-wrap: break-word;
}
.skillsch>td {
    padding-left: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
}